* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  height: auto;
}

body {
  position: relative;
  height: auto;
  background: rgb(240, 188, 188);
  background: linear-gradient(
    38deg,
    rgba(240, 188, 188, 1) 0%,
    rgba(242, 142, 142, 1) 30%,
    rgba(241, 127, 127, 1) 73%,
    rgba(255, 0, 0, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 20rem;
}

.container__title {
  border: whitesmoke 1px solid;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: whitesmoke;
  color: rgb(27, 27, 27);
}

.container__Round {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25rem;
}

.container__round-tag {
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  background-color: whitesmoke;
  color: rgb(27, 27, 27);
  border-radius: 1rem 1rem 0 0;
}

.container_target-number {
  text-align: center;
  width: 100%;
  background-color: whitesmoke;
  padding: 1rem;
  background-color: rgba(214, 28, 28, 0.925);
  color: whitesmoke;
  border-radius: 0 0 1rem 1rem;
}

.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30rem;
}

.containerGame {
  border: 1px solid whitesmoke;
  min-width: 24rem;
  min-height: 25rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  background-color: whitesmoke;
  font-size: 1.2rem;
}

.computerScore {
  text-align: center;
}

.inputNumber {
  text-align: center;
  border: none;
  font-size: 3rem;
  width: 7rem;
  height: 5rem;
  border-radius: 1rem;
}

.main__ContainerButton {
  width: 100%;
  text-align: center;
}

.buttonPlusMinus {
  width: 3rem;
  height: 2rem;
  color: whitesmoke;
  border: none;
  border-radius: 0.2rem;
  font-size: 2rem;
}

#buttonPlus {
  background-color: rgb(93, 204, 19);
  transition: 1s;
}

#buttonPlus:hover {
  background-color: whitesmoke;
  color: rgb(93, 204, 19);
  transform: translateY(-2px);
}

#buttonMinus {
  background-color: red;
  transition: 1s;
}

#buttonMinus:hover {
  background-color: whitesmoke;
  color: red;
  transform: translateY(-2px);
}

.nextRound {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.blue-button {
  background-color: rgb(44, 116, 211);
  color: whitesmoke;
  border: none;
  padding: 0.8rem;
  border-radius: 0.5rem;
  transition: 1s;
}

.blue-button:hover {
  background-color: whitesmoke;
  color: rgb(44, 116, 211);
  transform: translateY(-2px);
}

.fotterInstruction {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15rem;
  gap: 0.5rem;
}

.instructions {
  background-color: whitesmoke;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 50%;
}

.modal_game {
  transform: translateY(100%);
}

#won {
  background-color: rgba(12, 250, 4, 0.623);
  color: whitesmoke;
}

#lose {
  background-color: rgba(255, 0, 0, 0.521);
  color: whitesmoke;
}

#tie {
  background-color: rgba(0, 81, 255, 0.521);
  color: whitesmoke;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 0.918);
  width: 100%;
  height: 100%;
  position: absolute;
  top: -0%;
  bottom: 0;
  gap: 2rem;
  border-radius: 0.8rem;
}

#starGame {
  display: flex;
}
#startedGame {
  display: none;
}

#endGameTitle {
  color: rgb(44, 116, 211);
}

.winnerEndGame {
  font-size: 3rem;
}

@media only screen and (max-width: 480px) {
  .container__Round {
    width: 80%;
  }

  .main {
    flex-wrap: wrap;
    height: 60rem;
  }

  .fotterInstruction {
    flex-wrap: wrap;
    justify-content: center;
    height: 40rem;
    margin-top: 1rem;
  }

  .instructions {
    width: 80%;
    padding: 1rem;
  }
}
